<% for (var i=0; i < allRequest.length; i++) { %>
    <% var r = allRequest[i]; %>

    <div id="requestItem">
        <p class='title'>
        <div class="request_box"><%= r.request_time %></div>
        <div id="request_type" class="request_box tag"><%= r.request_type%></div>
        <div id="request_type" class="request_box tag"><%= r.room %></div>
        </p><br>
        <p class="content">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <%= r.details %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="modify_request(<%= r.request_time %>,'update')">완료</a>
                <a class="dropdown-item" onclick="modify_request(<%= r.request_time %>,'delete')">취소</a>
            </div>
        </div>
        </p>
    </div>

<% } %>